.paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}

.poem {
  margin: auto;
  margin-bottom: 1em;
  width: fit-content;
  padding: 5px 3em;  
  font-family: serif;
  font-size: large;
  box-shadow: 2px 2px 5px #8888;
}
